@import url("./Init.css");

body{
	overscroll-behavior-y:none;
}
header
{
	background-color: var(--theme);
	color:var(--Ttheme);
	font-family:serif;
	height:8vh;
	overflow:scroll;
	width:100vw;
	font-size:1.2rem;
	display:flex;
	align-items:center;
	justify-content: space-around;
	position:relative;
	z-index: 999;
	top:0;
	left:0;
	padding:3% 0;
	box-shadow:0px 0px 5px var(--shadowColor);
}
.back-btn
{
	font-family:arial;
	margin-right:10%;
	padding:1vmin;
}
.back-btn:hover
{
	background:var(--fadedColor);
}

.image-view
{
	width:100vw;
	height:86vh;
	z-index:111;
}

footer
{
	display:flex;
	align-items:center;
	justify-content: space-around;
	background: var(--theme);
	height:6vh;
	overflow:scroll;
	position:relative;
	bottom:0;
	left:0;
	right:0;
	z-index: 999;
	padding:1vh 5px;
}


.hidden-btn
{
	display:none;
}

.btm-btn
{
	border:none;
	border-right:3px solid var(--secTheme);
	background:var(--fadedColor);
	width:30%;
}

.edit-image
{
	
}

.save-image
{
}

.btm-btn
{
	padding:2px;
}
