*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	transition:all 0.1s ease-in-out;
}

:root
{
	--gray0:#000;
	--gray1:#181818;
	--gray2:#222222;
	--gray3:#282828;
	--gray4:#999;
	--gray5:#aaa;
	--gray6:#bbb;
	--gray7:#fff;

}

.light
{
	--shadowColor:var(--gray7);
	--fadedColor:#ddd;
	--theme:var(--gray7);
	--Ttheme:var(--gray0);
	--secTheme:var(--gray6);
	--folderColor:#0088ee;
}
.light:hover
{
	--shadowColor:var(--gray6);
}

.dark
{
	--shadowColor:var(--gray1);
	--fadedColor:var(--gray3);
	--theme:var(--gray1);
	--Ttheme:var(--gray7);
	--secTheme:var(--gray2);
	--folderColor:#0081a1;
}

.dark:hover
{
	--shadowColor:var(--gray3);
}

body
{
	min-width:100vw;
	min-height: 100vh;
	background: var(--theme);
	color:var(--Ttheme);
}
