.ImageTaker
{
	margin-top:5px;
	width:100%;
	height:calc( 100vh - ( 1.3rem + 4vh ) ) ;
	overflow:scroll;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	user-select: none;
}

.backButton
{
	font-family:monospace;
	font-weight:1;
	font-size:2rem;
	padding:2%;
}

#imageHave
{
	display: none;
}

#imageCapture
{
	width:50vw;
	height:40vh;
}


#imageClick
{
	border-radius:50%;
	height:14vmin;
	width:14vmin;
	padding:2vmin;
	border:2vmin solid var(--Ttheme);
	background:var(--Ttheme);
}

#imageClick:active
{
	height:10vmin;
	width:10vmin;
	border:2vmin solid var(--theme);
}
