*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body
{
	width:100vw;
	height:100vh;
	background:#000;
}
.error{display:none;}
/***Basics done above***/

header
{
	position: absolute;
	top:0;
	background:hsla();
	color:hsla();
	display:flex;
}

#screen
{
	
}


/***responsive***/
@media only screen and (max-width:450px)
{
	.error
	{
		 display:flex;
		 align-items:center;
		 justify-content:center;
		 width:100%;
		 height:100%;
		 background:#ff0;
		 color:#000;
		 position:fixed;
		 z-index:9999;
		 top:0;
		 left:0;
		 font-weight:bold;
		 font-family:impact;
	}
}
