
.box
{
	position: fixed;
	top:0;
	left:0;
	top:0;
	bottom:0;
	height:100vh;
	width:100vw;
	background:rgba(100,100,100,0.8);
}

.close-box
{
	font-weight:200;
	font-size:1.8rem;
	width:max-content;
	height:max-content;
	margin-top:10px;
	margin-left:10px;
	padding:15px;
	border-radius:30px;
	background:var(--theme);
	font-family:arial;
}

.close-box:hover
{
	background:var(--secTheme);
}

.option-box
{
	margin-top:60px;
	max-height:50%;
	padding:0 2vw;
	padding-bottom:2vh;
	margin-left:2.5rem;
	width:max(250px,80vw);
	background:var(--secTheme);
	color:var(--Ttheme);
	overflow-y:scroll;
	border-radius:10px;
}

.option-head
{
	padding-top:20px;
	padding-bottom:20px;
	color:var(--Ttheme);
	font-size:1.6rem;
	font-weight:200;
	position:sticky;
	top:0;
	left:0;
	right:0;
	background:var(--secTheme);
	font-family:arial;
}

.option
{
	display:block;
	width:100%;
	padding:8px 0;
	font-size:0.9rem;
	margin-top:4px;
	text-align:center;
	word-wrap:break-word;
	border-radius:5px;
	font-weight:500;
	margin-top:4px;
	background:var(--fadedColor);
}

.option:hover
{
	background:var(--theme);
}

