@import url("./components/css/SettingsBox.css");

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	transition:0.5s all;
}

:root
{
	--lightGreen:rgba(87,255,180,1);
	--lightBlue:rgba(87,180,255,1);
	--darkGreen:rgba(79,150,115,1);
	--darkBlue:rgba(79,115,150,1);
	--gray1:#efefef;
	--gray2:#232323;
}

.light
{
	--themePrimary:var(--darkGreen);
	--themeSecondary:var(--darkBlue);
	--color:var(--gray1);
}

.dark
{
	--themePrimary:var(--lightGreen);
	--themeSecondary:var(--lightBlue);
	--color:var(--gray2);
}



body
{
	background:var(--color);
}

header
{
	position:sticky;
	top:0;
	left:0;
	right:0;
	display:flex;
	height:min(10vh,100px);
	align-items:center;
	justify-content:space-around;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background: var(--color);
	box-shadow:0 -0.3px 8px var(--themePrimary);
}

h2
{
	font-family:serif;
	background:linear-gradient(var(--themePrimary),var(--themeSecondary));
	color:transparent;
	-webkit-background-clip:text;
	background-clip:text;
}

.settings-btn
{
	font-family: arial;
	background:linear-gradient(var(--themePrimary),var(--themeSecondary));
	color:transparent;
	-webkit-background-clip:text;
	background-clip:text;
	cursor:pointer;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:10px;
	font-size:2.5rem;
	font-weight:100;
	transform:rotate(90deg);
}

.back-btn
{
	font-family:monospace;
	background:linear-gradient(var(--themePrimary),var(--themeSecondary));
	color:transparent;
	-webkit-background-clip:text;
	background-clip:text;
	font-size:2.3rem;
	padding:1vh 1vw;
	cursor: pointer;
}

.content
{
	display:flex;
	flex-wrap: wrap;
	column-gap:80px;
	justify-content: center;
	padding-bottom: 4vh;
}

h3
{
	text-align:center;
	font-family:Serif;
}

li
{
	list-style-type:none;
	font-size:0.9rem;
	font-family:monospace;
	background:var(--color);
	margin-top:15px;
	padding:8px;
	border-radius:10px;
	display:grid;
	place-items: center;
}


.ds-head
{
	color: var(--themePrimary);
	font-size:1.4rem;
}

.algo-head
{
	color: var(--themeSecondary);
	font-size:1.4rem;
}



.ds-list
{
	color:var(--themePrimary);
}

.algo-list
{
	color:var(--themeSecondary);
}

.ds-item
{
	box-shadow:0 0px 5px var(--themePrimary);
	cursor:pointer;

}

.ds-item:hover {
	color:var(--themeSecondary);
	box-shadow:0px 0px 5px var(--themeSecondary);
}

.algo-item
{
	box-shadow:0 0px 5px var(--themeSecondary);
	cursor: pointer;
}

.algo-item:hover {
	color:var(--themePrimary);
	box-shadow:0px 0px 5px var(--themePrimary);
}


.structs,
.algos
{
	margin-top:4vh;
	border-radius:30px;
	padding:min(2vh,20px) min(2vw,20px);
	width:min(90vw,400px);
	display:flex;
	align-items:center;
	justify-content: space-around;
	flex-direction:column;
	gap:30px 30px;
}

.structs
{
	box-shadow:0 0px 5px var(--themeSecondary);
}

.algos
{
	box-shadow:0 0px 5px var(--themePrimary);
}


.vis
{
	outline:3px solid red;
}


.hidden
{
	display: none;
}